
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project: Forms</title>
</head>
<body>

    <h1>Create User Profile</h1>

    <form action="/users" class="new_user" id="new_user" method="post">
        <label for="username">Username:</label>
        <input id="username" name="user[username]" type="text"><br><br>

        <label for="email">Email:</label>
        <input id="email" name="user[email]" type="text"><br><br>

        <label for="password">Password:</label>
        <input id="password" name="user[password]" type="text"><br><br>
        
        <input type="submit" value="Submit">
    </form>



</body>
